@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@700&display=swap%27");

.navbar {
  /* background: linear-gradient(45deg, #eb5d47, #a933b2, #a4f9ff); */
  background: #A770EF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-item {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: larger;
  font-weight: bolder;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.connect-wallet {
  font-family: "Anuphan", sans-serif;
  font-size: larger;
  font-weight: bolder;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}
img.metamask-logo {
    border-radius: 13px;
}

.metamask-logo {
  width: 50px;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--text-color));
}
