
.card-main {
    width: 17rem;
    height: auto;
}
/* .CardComponent {
    padding-left: 5rem;
} */

.row-grid {
    display: flex;
    background-color: rgb(138, 43, 226);
    margin: 1rem;
}

.cont-card {
    /* background-color: rgb(138, 43, 226); */
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-bottom: 10vh;
    padding-top: 5vh;
}
.car-title{
    padding-top: 10vh;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}
/* .card-img{
    width:inherit;
    padding: 0;
    margin: 0;
} */
.card-column {
    /* box-shadow : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; */
}

:root {
    --padding-layout: 0.6rem;
    --border-radii-layout: 5px;
    --border-thickness-layout: 1px;
    --border-type-layout: solid;
    --border-layout: var(--border-thickness-layout) var(--border-type-layout) var(--color-border-default);
    --layout-max-width: 900px;
    --column-spacing: 46px;
    --page-display: unset;
    --padding-right: calc(env(safe-area-inset-right) + 96px);
    --padding-left: calc(env(safe-area-inset-left) + 96px);
    --padding-right-mobile: calc(env(safe-area-inset-right) + 24px);
    --padding-left-mobile: calc(env(safe-area-inset-left) + 24px);
    --header-cover-height: 30vh;
    --header-title-align: left;
    --header-icon-align: -112px auto auto auto;
    --header-display: block;
    --collection-header-border: var(--border-layout);
    --collection-table-cell-padding: calc(var(--padding-layout) - 0.3rem) calc(var(--padding-layout) - 0.1rem);
    --collection-list-item-padding: calc(var(--padding-layout) - 0.5rem);
    --collection-list-item-border-radii: calc( var(--border-radii-layout) - 1px );
    --collection-card-padding: 0px;
    --collection-card-title-padding: 0px;
    --collection-card-content-padding: var(--padding-layout);
    --collection-card-border-radii: var(--border-radii-layout);
    --collection-card-gap: 10px;
    --collection-card-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    --collection-card-title-size: 0.875rem;
    --collection-card-cover-height-small: 128px;
    --collection-card-cover-size-small: 172px;
    --collection-card-cover-height-medium: 200px;
    --collection-card-cover-size-medium: 260px;
    --collection-card-cover-height-large: 200px;
    --collection-card-cover-size-large: 320px;
    --collection-card-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    --collection-card-icon-display: inline-flex;
    --callout-padding: calc(var(--padding-layout) + 0.4rem) calc(var(--padding-layout) + 0.4rem) calc(var(--padding-layout) + 0.4rem) calc(var(--padding-layout) + 0.1em);
    --callout-border-radii: calc(var(--border-radii-layout) - 2px);
    --callout-border: var(--border-layout);
    --callout-icon-display: block;
    --callout-shadow: none;
    --file-border-radii: calc(var(--border-radii-layout) - 2px);
    --equation-border-radii: calc(var(--border-radii-layout) - 2px);
    --divider-border: var(--border-layout);
    --quote-border: calc(var(--border-thickness-layout) + 2px) solid currentcolor;
    --code-padding: calc(var(--padding-layout) + 1.4rem);
    --code-border-radii: var(--border-radii-layout);
    --tweet-padding: calc(var(--padding-layout) + 0.65rem) calc(var(--padding-layout) + 0.65rem) calc(var(--padding-layout) + 0.05rem) calc(var(--padding-layout) + 0.65rem);
    --tweet-border-radii: var(--border-radii-layout);
    --tweet-border: var(--border-layout);
    --bookmark-padding: calc(var(--padding-layout) + 0.15rem) 0px calc(var(--padding-layout) + 0.025rem) calc(var(--padding-layout) + 0.275rem);
    --bookmark-border-radii: var(--border-radii-layout);
    --bookmark-border: var(--border-layout);
    --bookmark-image-border-radii: 0px calc(var(--border-radii-layout) - 1px) calc(var(--border-radii-layout) - 1px) 0px;
    --embed-border-radii: calc(var(--border-radii-layout) - 5px);
    --image-border-radii: calc(var(--border-radii-layout) - 5px);
    --title-size: 2.5rem;
    --quote-size: 1.2rem;
    --quote-size-large: 1.4rem;
    --heading-size: 1rem;
    --primary-font: Inter, Inter-fallback, Helvetica, Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji, EmojiSymbols, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans, sans-serif;
    --secondary-font: Inter, Inter-fallback, Helvetica, Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji, EmojiSymbols, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans, sans-serif;
    --text-weight: normal;
    --heading-weight: 600;
    --heading1-size: calc(var(--heading-size) * 1.875);
    --heading2-size: calc(var(--heading-size) * 1.5);
    --heading3-size: calc(var(--heading-size) * 1.25);
    --heading4-size: calc(var(--heading-size) * 1);
    --heading5-size: calc(var(--heading-size) * 0.8125);
    --scrollbar-width: 15px;
    --navbar-height: 56px;
    --navbar-shadow: ;
    --navbar-button-border-radii: 50px;
    --navbar-list-width-single-column: 360px;
    --navbar-list-width: 660px;
}
:root {
    --color-text-default: rgb(55, 53, 47);
    --color-text-default-light: rgba(55, 53, 47, 0.6);
    --color-text-gray: rgb(155, 154, 151);
    --color-text-brown: rgb(100, 71, 58);
    --color-text-orange: rgb(217, 115, 13);
    --color-text-yellow: rgb(223, 171, 1);
    --color-text-green: rgb(15, 123, 108);
    --color-text-blue: rgb(11, 110, 153);
    --color-text-purple: rgb(105, 64, 165);
    --color-text-pink: rgb(173, 26, 114);
    --color-text-red: rgb(224, 62, 62);
    --color-bg-default: rgb(255, 255, 255);
    --color-bg-gray: rgb(235, 236, 237);
    --color-bg-brown: rgb(233, 229, 227);
    --color-bg-orange: rgb(250, 235, 221);
    --color-bg-yellow: rgb(251, 243, 219);
    --color-bg-green: rgb(221, 237, 234);
    --color-bg-blue: rgb(221, 235, 241);
    --color-bg-purple: rgb(234, 228, 242);
    --color-bg-pink: rgb(244, 223, 235);
    --color-bg-red: rgb(251, 228, 228);
    --color-bg-gray-light: rgba(235, 236, 237, 0.3);
    --color-bg-brown-light: rgba(233, 229, 227, 0.3);
    --color-bg-orange-light: rgba(250, 235, 221, 0.3);
    --color-bg-yellow-light: rgba(251, 243, 219, 0.3);
    --color-bg-green-light: rgba(221, 237, 234, 0.3);
    --color-bg-blue-light: rgba(221, 235, 241, 0.3);
    --color-bg-purple-light: rgba(234, 228, 242, 0.3);
    --color-bg-pink-light: rgba(244, 223, 235, 0.3);
    --color-bg-red-light: rgba(251, 228, 228, 0.3);
    --color-pill-default: rgba(206, 205, 202, 0.5);
    --color-pill-gray: rgba(155, 154, 151, 0.4);
    --color-pill-brown: rgba(140, 46, 0, 0.2);
    --color-pill-orange: rgba(245, 93, 0, 0.2);
    --color-pill-yellow: rgba(233, 168, 0, 0.2);
    --color-pill-green: rgba(0, 135, 107, 0.2);
    --color-pill-blue: rgba(0, 120, 223, 0.2);
    --color-pill-purple: rgba(103, 36, 222, 0.2);
    --color-pill-pink: rgba(221, 0, 129, 0.2);
    --color-pill-red: rgba(255, 0, 26, 0.2);
    --color-ui-hover-bg: rgba(239, 239, 239);
    --color-card-bg: rgb(255, 255, 255);
    --color-checkbox-bg: rgb(46, 170, 220);
    --color-border-default: rgba(235, 236, 237, 0.8);
    --color-border-dark: rgba(55, 53, 47, 0.16);
    --color-code-bg: rgba(239, 239, 239);
    --scrollbar-background-color: #fafafa;
    --scrollbar-thumb-color: #c1c1c1;
    --scrollbar-border-color: #e8e8e8;
    --navbar-text-color: var(--color-text-default);

}